<a href="https://colab.research.google.com/github/ad5454/Fashion_Product_Classification/blob/main/Fashion_Product_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Downloading the Data

In [2]:
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.5.13)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [3]:
import opendatasets as od

In [4]:
od.download("https://www.kaggle.com/paramaggarwal/fashion-product-images-small")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: aaditya1234567890n
Your Kaggle Key: ··········
Downloading fashion-product-images-small.zip to ./fashion-product-images-small

100%|██████████| 565M/565M [00:07<00:00, 81.0MB/s]

In [5]:
cd fashion-product-images-small/

/content/fashion-product-images-small

## Image name with Extension

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("styles.csv",error_bad_lines=False)

<ipython-input-7-4650da642b3f>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("styles.csv",error_bad_lines=False)
Skipping line 6044: expected 10 fields, saw 11
Skipping line 6569: expected 10 fields, saw 11
Skipping line 7399: expected 10 fields, saw 11
Skipping line 7939: expected 10 fields, saw 11
Skipping line 9026: expected 10 fields, saw 11
Skipping line 10264: expected 10 fields, saw 11
Skipping line 10427: expected 10 fields, saw 11
Skipping line 10905: expected 10 fields, saw 11
Skipping line 11373: expected 10 fields, saw 11
Skipping line 11945: expected 10 fields, saw 11
Skipping line 14112: expected 10 fields, saw 11
Skipping line 14532: expected 10 fields, saw 11
Skipping line 15076: expected 10 fields, saw 12
Skipping line 29906: expected 10 fields, saw 11
Skipping line 31625: expected 10 fields, saw 11
Skipping line 33020: expected 10 fields, saw 11
Skipping line 35748: expected 10 fields, saw 11
Skipping line 35962: expected 10 fields, saw 11
Skipping line 37770: expected 10 fields, saw 11
Skipping line 38105: expected 10 fields, saw 11
Skipping line 38275: expected 10 fields, saw 11
Skipping line 38404: expected 10 fields, saw 12

In [8]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch

In [9]:
df['image'] = df.apply(lambda row: str(row['id']) + ".jpg", axis=1)

In [10]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt,26960.jpg
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks,29114.jpg
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch,30039.jpg

In [11]:
df = df.sample(frac=1)

In [12]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
32998,9122,Men,Footwear,Shoes,Casual Shoes,Black,Fall,2011.0,Casual,Puma Men Yacht L Black Casual Shoes,9122.jpg
26185,57355,Women,Apparel,Innerwear,Bra,Black,Winter,2015.0,Casual,Amante Black Full-Coverage Bra BGSK01,57355.jpg
26536,40514,Men,Accessories,Watches,Watches,White,Winter,2016.0,Casual,Titan Men White Dial Watch,40514.jpg
1945,40314,Unisex,Footwear,Sandal,Sandals,White,Winter,2013.0,Casual,Warner Bros Kids Unisex White sandals,40314.jpg
8845,23702,Men,Accessories,Eyewear,Sunglasses,Orange,Winter,2016.0,Casual,Rayban Men Orange New Wayfarer Sunglasses,23702.jpg
43777,43588,Girls,Apparel,Bottomwear,Capris,White,Summer,2012.0,Casual,Gini and Jony Girls Fixed Weast White Capris,43588.jpg
33902,39071,Men,Apparel,Topwear,Shirts,Blue,Summer,2012.0,Casual,Arrow Sport Men Blue & White Check Shirt,39071.jpg
4176,3592,Men,Footwear,Shoes,Casual Shoes,Blue,Summer,2013.0,Casual,Converse Men's All Star Canvas Ox Navy Blue Shoe,3592.jpg
42368,45410,Women,Footwear,Shoes,Flats,White,Summer,2012.0,Casual,Rocia Women White & Brown Sandals,45410.jpg
32326,28573,Women,Apparel,Topwear,Tshirts,Pink,Summer,2012.0,Casual,Nike Women Air Scoop Pink T-shirt,28573.jpg

In [13]:
df = df.sample(frac=1).reset_index(drop=True)

In [14]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,36002,Boys,Apparel,Topwear,Tshirts,Blue,Summer,2012.0,Casual,Ben 10 Boys Crew Navy Blue and Green T-shirt,36002.jpg
1,3168,Men,Footwear,Shoes,Sports Shoes,White,Fall,2010.0,Sports,Nike Men's Incinerate MSL White Blue Shoe,3168.jpg
2,40974,Boys,Apparel,Topwear,Tshirts,Green,Summer,2012.0,Casual,Gini and Jony Boys United Green T-shirt,40974.jpg
3,41610,Men,Apparel,Topwear,Shirts,Blue,Summer,2012.0,Casual,Basics Men Blue Checked Shirt,41610.jpg
4,3909,Women,Apparel,Bottomwear,Capris,Red,Summer,2011.0,Casual,Urban Yoga Women Yoga Red Capri,3909.jpg
5,47308,Women,Accessories,Bags,Clutches,Purple,Summer,2012.0,Casual,Baggit Women Purple Deshi Baby Purse,47308.jpg
6,2363,Unisex,Accessories,Bags,Backpacks,Black,Summer,2011.0,Sports,ADIDAS Black Backpack,2363.jpg
7,34759,Women,Accessories,Bags,Handbags,Black,Summer,2015.0,Casual,Be For Bag Women Black & Yellow Tote Bag,34759.jpg
8,42915,Women,Accessories,Belts,Belts,Grey,Summer,2012.0,Casual,French Connection Women Grey Belt,42915.jpg
9,12172,Men,Apparel,Topwear,Shirts,White,Fall,2011.0,Casual,Basics Men White Slim Fit Checked Shirt,12172.jpg

## Preparing the ImageDataGenerator for training the model

In [15]:
from keras.preprocessing.image import ImageDataGenerator
batch_size = 256

image_generator = ImageDataGenerator(
    validation_split=0.2
)

training_generator = image_generator.flow_from_dataframe(
    dataframe=df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset="training"
)

validation_generator = image_generator.flow_from_dataframe(
    dataframe=df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset="validation"
)
classes = len(training_generator.class_indices)

Found 35536 validated image filenames belonging to 7 classes.

/usr/local/lib/python3.10/dist-packages/keras/preprocessing/image.py:1137: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

Found 8883 validated image filenames belonging to 7 classes.

/usr/local/lib/python3.10/dist-packages/keras/preprocessing/image.py:1137: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

In [16]:
classes

7

## Initializing the Model using Neural Network

In [17]:
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

In [18]:
#Initializing our model
classifier = Sequential()

classifier.add(Conv2D(32,(3,3),input_shape = (60,80,3), activation = 'relu'))

classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Conv2D(32,(3,3), activation = 'relu'))
classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Flatten())

classifier.add(Dense(units=32,activation = 'relu'))
classifier.add(Dense(units=64,activation = 'relu'))
classifier.add(Dense(units=128,activation = 'relu'))
classifier.add(Dense(units=256,activation = 'relu'))
classifier.add(Dense(units=512,activation = 'relu'))

classifier.add(Dense(units=7,activation = 'softmax'))

classifier.compile(optimizer='adam',
              loss="categorical_crossentropy",
              metrics=['accuracy'])

## Fitting Data in our Neural Network

In [19]:
from math import ceil

classifier.fit_generator(
    generator=training_generator,
    steps_per_epoch=ceil(0.8 * (df.shape[0] / batch_size)),

    validation_data=validation_generator,
    validation_steps=ceil(0.2 * (df.shape[0] / batch_size)),

    epochs=5,
    verbose=1
)

loss, acc = classifier.evaluate_generator(validation_generator, steps=ceil(0.2 * (df.size / batch_size)))
print("\n%s: %.2f%%" % (classifier.metrics_names[1], acc * 100))

<ipython-input-19-b08848a5b686>:3: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  classifier.fit_generator(

Epoch 1/5
139/139 [==============================] - 41s 181ms/step - loss: 1.0930 - accuracy: 0.7631 - val_loss: 0.3341 - val_accuracy: 0.8888
Epoch 2/5
139/139 [==============================] - 23s 163ms/step - loss: 0.2603 - accuracy: 0.9135 - val_loss: 0.2289 - val_accuracy: 0.9304
Epoch 3/5
139/139 [==============================] - 22s 161ms/step - loss: 0.1963 - accuracy: 0.9380 - val_loss: 0.1930 - val_accuracy: 0.9412
Epoch 4/5
139/139 [==============================] - 24s 170ms/step - loss: 0.1729 - accuracy: 0.9468 - val_loss: 0.1780 - val_accuracy: 0.9473
Epoch 5/5
139/139 [==============================] - 23s 166ms/step - loss: 0.1440 - accuracy: 0.9567 - val_loss: 0.1754 - val_accuracy: 0.9470

<ipython-input-19-b08848a5b686>:14: UserWarning: `Model.evaluate_generator` is deprecated and will be removed in a future version. Please use `Model.evaluate`, which supports generators.
  loss, acc = classifier.evaluate_generator(validation_generator, steps=ceil(0.2 * (df.size / batch_size)))
WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 382 batches). You may need to use the repeat() function when building your dataset.

accuracy: 94.70%

## Saving the Model for further use

In [20]:
classifier.save("model.h5")

## Testing on our data

In [21]:
from tensorflow.keras.preprocessing.image import load_img

In [23]:
import numpy as np
from keras.preprocessing import image

filename = "15970.jpg"

from keras.models import load_model
new_model = load_model('model.h5')
new_model.summary()

test_image = image.load_img("images/"+filename,target_size=(60,80))
test_image = image.img_to_array(test_image)
test_image = np.expand_dims(test_image, axis = 0)

result = new_model.predict(test_image)
print(result)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 58, 78, 32)        896

 max_pooling2d (MaxPooling2D  (None, 19, 26, 32)       0
 )

 conv2d_1 (Conv2D)           (None, 17, 24, 32)        9248

 max_pooling2d_1 (MaxPooling  (None, 5, 8, 32)         0
 2D)

 flatten (Flatten)           (None, 1280)              0

 dense (Dense)               (None, 32)                40992

 dense_1 (Dense)             (None, 64)                2112

 dense_2 (Dense)             (None, 128)               8320

 dense_3 (Dense)             (None, 256)               33024

 dense_4 (Dense)             (None, 512)               131584

 dense_5 (Dense)             (None, 7)                 3591

=================================================================
Total params: 229,767
Trainable params: 229,767
Non-trainable params: 0
_________________________________________________________________

AttributeError: ignored

In [ ]:
val = np.argmax(result)
print(val)

In [ ]:
my_dict = training_generator.class_indices
key_list = list(my_dict.keys())
val_list = list(my_dict.values())
print(key_list[val])

## Saving the Class IDs

In [ ]:
import pickle
# save the model to disk
filename1 = 'key_list'
filename = 'val_list'
pickle.dump(key_list, open(filename1, 'wb'))
pickle.dump(val_list, open(filename, 'wb'))